body {
  margin: 0;
  padding: 0;
  background-image: url(../../../assets/images/ba.gif);
  background-size: cover;
  background-position: center;
  height: 100vh; /* Set the height to 100% of the viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333; /* Set the font color to a dark gray */
}

.cart-item {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.cart-item button {
  background-color: #007bff;
  color: #fff; /* Set the font color to white */
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.cart-item button:hover {
  background-color: #0056b3;
}
